:root {
  --cream-bg-color: #E9DAC1;
  --dark-bg-color: #171717;
  --dark-soft-bg-color: #252525;
  --button-color: rgb(248, 228, 202);
}
body {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.text {
  font-family: 'Times New Roman', Times, serif;
}
.container-infoes {
  flex: 1;
  background-color: var(--cream-bg-color);
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.container-infoes-title {
  flex: 1;
  text-align: center;
  align-self: center;
}
.container-infoes-title-text {
  color: var(--dark-bg-color);
  font-size: 1.5rem;
}
.work-title {
  font-weight: bold;
}
.container-infoes-mail {
  flex: 1;
  text-align: center;
  align-self: center;
}
.container-infoes-mail-text {
  color: var(--dark-bg-color);
  cursor: pointer;
  text-decoration: underline;
  display:inline;
}
.container-links {
  background-color: var(--cream-bg-color);
  text-align: center;
  padding-bottom: 0.5rem;
}
button {
  background-color: var(--button-color);
  width: 4rem;
  padding: 1rem;
  border: 0px;
  border-bottom: 1px solid var(--button-color);
  cursor: pointer;
  justify-content: center;
  text-align: center;
  color: var(--dark-bg-color);
  border-radius: 5px;
}

button:hover {
  border-bottom: 1.5px solid var(--dark-bg-color);
}

.button-active {
  border-bottom: 1.5px solid var(--dark-bg-color);
  background-color: var(--dark-bg-color);
  color: var(--cream-bg-color);
}

.container-redirect {
  flex: 2;
  background-color: var(--dark-bg-color);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  animation-name: container-redirect-animation;
  animation-duration: 1.7s;
}
.container-redirect-box {
  flex: 1;
  min-height: 40%;
  max-width: 40%;
  border-bottom: 1px solid var(--cream-bg-color);
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
}

.container-redirect-box-item {
  flex: 1;
}

.description {
  color: var(--cream-bg-color);
  font-weight: 000;
}
.icon img {
  background-color: var(--dark-soft-bg-color);
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 3px 2px var(--cream-bg-color);
  animation-name: icon-container-animation;
  animation-duration: 1.5s;
}
.icon img:hover {
  padding: 0.6rem;
  box-shadow: 4px 3px var(--cream-bg-color);
}

@keyframes container-redirect-animation {
  from { flex: 0.5; }
  to { flex: 2; }
}

@keyframes icon-container-animation {
  from {
    background-color: var(--dark-bg-color);
    box-shadow: 0px 0px var(--cream-bg-color);
    border-radius: 0px;
  }
  to {
    background-color: var(--dark-soft-bg-color);
    box-shadow: 3px 2px var(--cream-bg-color);
    border-radius: 5px;
  }
}

@media (max-width: 780px) {
  .container-infoes {
    flex-direction: column;
  }
  .container-redirect {
    flex-direction: column;
  }
  .container-redirect-box {
    min-width: 90%;
    max-height: 50%;
  }
}