:root {
  --color-bg: #E7E3DF;
  --color-dark: #141414;
  --color-shadow: #9d9d9d;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--color-bg);
}

.container {
  margin: auto;
  padding: 2rem 2.5rem;
  max-width: 80em;
}
.head {
  display: grid;
  grid-template-areas: "title contacts";
}
.title {
  grid-area: title;
}
.title-name {
  font-size: 1.8rem;
}
.title-job {
  font-size: 1.7rem;
  letter-spacing: 1px;
}
.title-container {
  max-width: 25rem;
}
.title-contact-button {
  margin-top: 1rem;
  background-color: var(--color-dark);
  color: var(--color-bg);
  border: 0;
  width: 100%;
  padding: 0.8rem 2rem 0.8rem 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--color-shadow);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.contacts {
  grid-area: contacts;
  display: flex;
  justify-content: right;
}
.contacts-container{
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contacts-icon {
  fill: var(--color-dark);
  cursor: pointer;
}

.contents {
  margin-top: 4rem;
}
.contents-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 15px;
}
.contents-container-title {
  flex: 1;
}
.contents-container-title-link {
  text-decoration: underline;
}
.contents-container-image {  
  flex: 1.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}
.contents-container-image img {
  width: 100%;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 0px 0px 20px var(--color-shadow);
  
}
.contents-container-image-phone {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.contents-container-image-phone img {
  width: 50%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.prev {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
  visibility: hidden;
  border-radius: 5px;

}
.next {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;

}
.prev:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
hr {
  border: 2px solid #c9c4bf;
  background-color: #c9c4bf;
  border-radius: 0.5rem;
}
@media (max-width: 1000px) {
  .head {
    grid-template-areas: "title"
                          "contacts";
    justify-content: center;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .title-container {
    text-align: center;
  }
  .contacts {
    justify-content: center;
    margin-top: 2rem;
  }
  .contents-container-image img{
    width: 100%;
  }
  .contents-container-image-phone img {
    width: 80%;
    max-width: 30rem;
  }
  .contents-container {
    flex-direction: column;
    text-align: center;
  }
  .contents-container-title {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .wrapper {
    max-width: 100%;
  }
  .prev {
    padding: 0.7rem;
  }
  .next {
    padding: 0.7rem;
  }

}